<h1>Woot my first view</h1>
<p>My first View was a very fine view..</p>

<p>A *Very* Fine view, indeed!</p>

<!--this is an erb command, the equals sign means that it will
  evaluate the ruby command and echo the result into the document -->
<%= link_to 'About', about_path%>

<!-- link_do text content of <a> tag,  name_of_route_path -->
<!-- will build the following,
  <a href="/about">About</a>
  -->